@import "~bootstrap/scss/bootstrap";
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.cmt-enter {
	opacity: 0;
}
.cmt-enter-active {
	transition: opacity 750 ms ease - out;
	opacity: 1;
}
.cmt-exit-active {
	transition: opacity 750 ms ease - out;
	opacity: 0;
}
